@font-face {
	font-family: CircularBold;
	src: url('../assets/CircularStd-Medium.ttf') format('truetype'),
		url('../assets/CircularStd-Medium.woff') format('woff');
}

html {
	height: 100%;
	width: 100%;
	background-color: black;
	overflow-y: hidden;
}

* {
	font-family: 'CircularBold';
}

button,
input:focus {
	outline: 0;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #1d1d44;
}

::-webkit-scrollbar-thumb {
	background: #363795;
}

::-webkit-scrollbar-thumb:hover {
	background: #272866;
}

.hidden {
	display: none;
}

input {
	width: 160px;
	font-size: 1em;
	border: 0;
	background: transparent;
	font-family: 'CircularBold';
	border-bottom: 1px solid white;
	color: white;
}

th {
	min-width: 500px;
	font-family: 'CircularBold';
	color: white;
}

p {
	font-family: 'CircularBold';
	color: white;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 0;
}

h2 {
	margin: 10px 0;
}

#data_info {
	opacity: 0;
}

#total_data {
	opacity: 0;
}

.team_pic {
	height: 22px;
	width: 22px;
	margin-right: 10px;
	transform: translate(0, 5px);
}

.dotstatus {
	height: 8px;
	width: 8px;
	margin-right: 8px;
	transform: translate(0, -1px);
}

.DataInfo {
	padding: 0px 0px 5px 0px;
}

.data {
	text-decoration: underline;
}

.name {
	width: 160px;
	margin-left: 48px;
}

.pos {
	width: 30px;
}

.pln {
	width: 30px;
}

.goal {
	width: 20px;
}

.assist {
	width: 20px;
}

.pts {
	width: 30px;
}

.gp {
	width: 30px;
}

.gm {
	width: 30px;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

#background_image {
	position: fixed;
	z-index: -99999999;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #005c97;
	background: -webkit-linear-gradient(to bottom, #005c97, #363795);
	background: linear-gradient(to bottom, #005c97, #363795);
	filter: blur(1px);
	opacity: 0.8;
}

#loading {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 45%;
	left: 50%;
	font-size: 3em;
	font-family: 'CircularBold';
	color: white;
}

#info_table {
	min-width: 100%;
}

#total_table {
	margin-top: 8px;
}

.player_input {
	color: white;
}

#btnAddPlayer {
	margin: 10px;
	width: 130px;
	font-family: 'CircularBold';
	background: #363795;
	color: #ffffff;
	cursor: pointer;
	font-size: 1em;
	padding: 0.5em 1em 0.5em 1em;
	border: 0;
	transition: all 0.5s;
	border-radius: 6px;
	position: relative;
}

#btnAddPlayer:hover {
	background: #252668;
	transition: all 0.5s;
	border-radius: 6px;
	box-shadow: 0px 6px 15px #2526689d;
}
#btnAddPlayer:hover::after {
	opacity: 1;
	transition: all 0.5s;
}

#btnAddPlayer:disabled {
	background: #101048;
}

#btnDelPlayer {
	margin: 10px;
	width: 130px;
	font-family: 'CircularBold';
	background: #363795;
	color: #ffffff;
	cursor: pointer;
	font-size: 1em;
	padding: 0.5em 1em 0.5em 1em;
	border: 0;
	transition: all 0.5s;
	border-radius: 6px;
	position: relative;
}

#btnDelPlayer:hover {
	background: #252668;
	transition: all 0.5s;
	border-radius: 6px;
	box-shadow: 0px 6px 15px #2526689d;
}
#btnDelPlayer:hover::after {
	opacity: 1;
	transition: all 0.5s;
}

#btnDelPlayer:disabled {
	background: #101048;
}

#btnSaveChanges {
	margin: 10px;
	width: 250px;
	font-family: 'CircularBold';
	background: #363795;
	color: #ffffff;
	cursor: pointer;
	font-size: 1em;
	padding: 0.5em 1em 0.5em 1em;
	border: 0;
	transition: all 0.5s;
	border-radius: 6px;
	position: relative;
}

#btnSaveChanges:hover {
	background: #252668;
	transition: all 0.5s;
	border-radius: 6px;
	box-shadow: 0px 6px 15px #2526689d;
}
#btnSaveChanges:hover::after {
	opacity: 1;
	transition: all 0.5s;
}

#button_holder {
	position: fixed;
	transform: translate(-50%, 0%);
	left: 50%;
	bottom: 2%;
	width: 580px;
}

.PlayerName {
	font-size: 2em;
	padding-bottom: 15px;
}

#rank_popup {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

#popup_content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 50%;
	min-width: 550px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

#help_text {
	margin: 10px;
}

.tutorial_pics {
	width: 100%;
	height: auto;
	float: right;
}

#close {
	color: white;
	float: right;
	font-size: 40px;
	font-weight: bold;
}

#close:hover,
#close:focus {
	cursor: pointer;
}

#popup_header {
	padding: 1px 16px;
	background-color: #363795;
	color: white;
}

#popup_body {
	height: 70vh;
}

#btnRank {
	font-family: 'CircularBold';
	background: transparent;
	color: white;
	border: 0;
	cursor: pointer;
	font-size: 1.7em;
	position: fixed;
	padding: 0;
	bottom: 3%;
	right: 3%;
	font-weight: bolder;
}

#btnRank:hover,
#btnRank:focus {
	color: #b3b3b3;
}

.place_subtext {
	font-size: 1em;
	color: darkgray;
}

.place_text {
	font-size: 1.2em;
}

#tablebody {
	display: block;
	overflow-y: scroll;
	height: 100%;
}

#top_unpicked {
	width: 100%;
	height: 100%;
	border: 0px solid #ccc;
	border-collapse: collapse;
}

#name_title {
	margin-left: 72px;
}

.top_unpicked_name {
	font-size: 1.1em;
	color: black;
	display: inline-block;
	width: 200px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
	text-align: center;
}

.top_unpicked_num {
	font-size: 1.1em;
	color: black;
	display: inline-block;
	width: 40px;
	text-align: center;
}

.tablerow {
	width: 100%;
	display: inline-block;
	overflow: hidden;
}

#tablebody::-webkit-scrollbar {
	width: 10px;
}

#tablebody::-webkit-scrollbar-track {
	background: #1d1d44;
}

#tablebody::-webkit-scrollbar-thumb {
	background: #363795;
}

#tablebody::-webkit-scrollbar-thumb:hover {
	background: #2b2c75;
}
